* {
    box-sizing: border-box;
}

body {
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    padding: 1rem;
    background: #020617;
    color: #e5e7eb;
}

h1{
    text-align: center;
    margin-bottom: 2rem;
}

section {
    margin-bottom: 2rem;
}

.caja {
    width: 100px;
    height: 100px;
    background-color: #2563eb;
    color: white;
    padding: 1rem;
    margin: 0.5rem;
    text-align: center;
    border-radius: 0.5rem;
    font-size: 1.2rem;
}

.contenedor-1 {
    border: 1px dashed #4b5563;
    padding: 1rem;

    display: flex;
}

.contenedor-2 {
    border: 1px dashed #4b5563;
    padding: 1rem;

    display: flex;
    flex-direction: row;
}

.contenedor-3 {
    border: 1px dashed #4b5563;
    padding: 1rem;
    
    display: flex;
    flex-direction: row;

    justify-content: space-between; /*Alineacion horizontal  (row en flex-direction)*/
    align-items: flex-start; /*Alineacion vertical  (column en flex-direction)*/
}

/*Estilos de la clase 5*/

.contenedor-centro {
    border: 1px dashed #4b5563;
    background: #3d3e42;
    height: 200px;
    margin-top: .5rem;

    display: flex;
    justify-content: center; /*centrado horizontal*/
    align-items: center; /*centrado vertical*/
}

.btn-demo {
   height: 35px;
}

.caja-small {
    width: 40px;
    height: 40px;
    line-height: 40px;
}
