* {
    font-family: "times new roman", serif;
}

.monsieur-la-doulaise-regular {
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 400;
    font-style: normal;
}


body {
    background-color: #023047;
   
}

 /*Estilo para todos los parrafos (etiqueta p)*/
p {
    font-size: 18px;
}
/*Estilo para la clase "mi-clase" esto va
dentro de la etiqueta en el archivo class="mi-clase"
*/
.mi-clase {
   font-style: oblique;
   font-size: larger;
   display: inline-block;
}
/*Estilo para el id "mi-id" esto va
dentro de la etiqueta en el atributo id="mi-id"
*/
#mi-id {
    font-size: larger;
}

.start {
    color: #efefef;
}

/*Estilos para los enlaces dentro de la clase "mi-clase" combinacion*/
.mi-clase a{
    color: #fb8500;
}

.mi-foto {
    width: 150px;
    
}

/*Ejemplos de Display*/

#ejemplos-de-display {
    margin-top: 40px;
    padding: 20px;
    border-top: 2px solid #ccc;
}

/*Estilo base para todas las cajas demo*/
.caja {
    background-color: #ad1515;
    border: 1px solid #333;
    padding: 8px;
    margin: 6px 0;
    text-align: center;
    font-weight: bold;
}

/* BLOQUES: uno denajo del otro, ocupan todo el ancho*/
.caja-block {
    display: block;
    width: 100%;
    position: sticky;
    top: 0px;
    left: 20px;
}

/*INLINE: se Comportan como texto, no respetan width ni height*/
.caja-inline {
    display: inline;
/* width & height no tienen efecto en inline, eso lo hace demostrativo*/
    margin: 0 4px;
    padding: 2px 6px;
    background-color: #ffeaa7;
}

/*CONTENEDOR para ver mejor los inline-block*/
.contenedor-inline-block {
    border: 1px dashed #aaa;
    padding: 10px;
}

/*INLINE-BLOCK: se alinean en fila, pero si respetan width y height*/
.caja-inline-block {
    display: inline-block;
    width: 120px;
    height: 60px;
    margin: 4px;
    line-height: 60px; /*centra el texto verticalmente*/
    background-color: #a3d5ff;
}

button {
    width: 100px;
    height: 40px;
    font-size: larger;
    background-color: #c1121f;
}

button:hover {
    background-color: #831010;
    color: white;
}


/*Ejemplo de Box Model*/
#box-model-demo {
    margin-top: 40px;
    padding: 20px;
    /*border-top: 2px solid #ccc;*/
} 

.box-demo {
    width: 150px;
    height: 100px;
    padding: 15px;
    border: 5px solid #fb8500;
    margin: 20px;
    background-color: #ffb703;
    color: #831010;   
}

#box-sizing-demo {
    margin-top: 40px;
}

.box-cb,
.box-bb {
    padding: 20px;
    margin-bottom: 16px;
    border: 10px solid #219ebc;
    background-color: #8ecae6;
    color: #000;
}

.box-cb {
    width: 200px;
    box-sizing: content-box; /* valor por defecto */
}

.box-bb {
    width: 200px;
    box-sizing: border-box;
    background-color: #2ca450;
}

h1 {
    color: #ffb703;
}

.mi-clase h1 {
    color: #8ecae6;
}

li {
    color: #2ca450 !important;
}

.mi-clase li {
    color: #c1121f;
}

#mi-id {
    color: #ffb703;
}